<script>
	import Board from './Board.svelte';
</script>

<svelte:head>
	<title>Tarot</title>
	<meta name="description" content="Tarot divination" />
</svelte:head>

<section>
	<h1>
		<span class="first-letter">C</span>hoisis une carte	
	</h1>
	<Board />
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
	}

	h1{
		user-select: none;
		font-size: 5rem;
		font-family: var(--font-body-tarot);
		margin-block-end: 1rem;
	}

	.first-letter{
		font-family: var(--font-body-tarot-0);	
	}
</style>
