<script lang="ts">
	import { onMount } from 'svelte';
	import Card from './Card.svelte';
	import cards_data from '$lib/data/tarot_cards_fr.json';
	let wrapper: HTMLElement; // Reference to the div element
	let centerX = 0;
	// Function to calculate the center coordinates
	onMount( () => {
		getCenter()
	});
	function getCenter() {
		const rect = wrapper.getBoundingClientRect();
		centerX = rect.left / 2;
		// centerX = rect.left + rect.width / 2;
	}
</script>

<div bind:this="{wrapper}"  class="board">
	{#each cards_data as card, index}
		<Card centerX="{centerX}" left={index * 2}rem image={card.image} name={card.name} description={card.description}/>
    {/each}
</div>

<style>
	.board {
		position: relative;
		display: flex;
		gap: 0rem;
		overflow: hidden;
		width: 100%;
		flex: 1;
		margin: 0 auto;
		padding:10% 0;
	}
</style>
