<script lang="ts">
	import { onMount } from 'svelte';
	export let name = "Empty Name";
	export let description = "Empty Description";
	export let image = "not_found";
	export let centerX = 0;
	export let left = "";
	let wrapper: HTMLElement;
	let card: HTMLElement;
	let selected = false;

	const moveLeft = () => {
		wrapper.style.left = left;
	}

	const onKeyPress = e => {
    if (e.charCode === 13) selectCard();
  };

	const selectCard = () => {
		wrapper.style.left = centerX+"px";
		selected=true;
		wrapper.style["z-index"] = 1000
		wrapper.style.scale = 1.2
	};

	onMount( () => {
		requestAnimationFrame(moveLeft)
	});

</script>


<div bind:this="{wrapper}" class="card-container">
	<div role="button" tabindex="0" on:click="{selectCard}" on:onKeyPress="{onKeyPress}" class={ selected == true ? 'card card-selected' : 'card'}>
		<div class="card-content">
			<div  style="background-image: url(dark_card/{image}.png);" class="card-front">
				<span class="card-name">{ name }</span>
				<br>
				<span class="card-description">{ description }</span>
			</div>
			<div class="card-back" >
			</div>
		</div>
	</div>
</div>

<style>
	
	/* Container for the card */
	.card-container {
		position: absolute;
		display: flex;
		width: 100%;
		height:100%;
		left: 0px;
		transition: all 2s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.card {
		perspective: 1000px; /* Add 3D perspective */
		width: 12rem;
		height: 21rem;
		padding: 1rem;
		font-family: var(--font-body-tarot-2);
		transition: all 2s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	/* The card itself */
	.card-content {
		width: 100%;
		height: 100%;
		transform-style: preserve-3d; /* Preserve 3D transformations */
		transition: transform 0.7s ease-in-out; /* Add a smooth transition */
	}

	/* Front and back faces of the card */
	.card-front,
	.card-back {
		user-select: none;
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden; /* Hide the back face initially */
		text-align: center;
		border-radius: 6px;
		border: 1px solid rgba(155, 155, 155, 0.185);
		background-clip: content-box;
		background-size: cover;
		justify-content: flex-start;
		align-items: center;
		display: flex;
		color: white;
		font-size: 1.4rem;
		flex-direction: column;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 4px 0px;
	}

	/* Style for the front face */
	.card-front {
		background-color: var(--color-bg-2);
		transform: rotateY(180deg);
		
	}

	/* Style for the back face */
	.card-back {
		background-clip: content-box;
		background-color: var(--color-bg-2);
		background-image: url('$lib/images/back_card_dark_1.png');
		z-index: -1;
	}

	/* Hover effect to flip the card */
	.card:hover .card-content {
		transform: translateY(-1rem);
		transition: transform 0.4s ease-out; /* Add a smooth transition */
	}

	.card.card-selected .card-content{
		transition: transform 2s cubic-bezier(0.22, 0.61, 0.36, 1);
		transform: rotateY(180deg); /* Flip the card on hover */
	}

	.card-name{
		margin-top: 2rem;
	}
	
	.card-description{
		margin-top: 2rem;
		font-family: var(--font-body-tarot-2);
		letter-spacing: 0.1ch;
		font-size: 1rem;
	}
</style>
